@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'), url('/fonts/AirbnbCerealMedium.woff') format('woff');
}

.navbar {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  height: 109px;
}

.logo-img {
  position: absolute;
  width: 150px;
  height: 106px;
  left: 48px;
  top: 0px;
  background: url('/images/logo_arkademy.png')
}

.form-control-nav {
  position: absolute;
  width: 866px;
  height: 58px;
  left: 226px;
  top: 25px;
  background: #CECECE;
  border-radius: 10px;
}

.form-control-nav::placeholder {
  position: absolute;
  width: 310px;
  height: 42px;
  left: 258px;
  top: 33px;
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  color: #FFFFFF;
}

.btn-nav {
  position: absolute;
  width: 120px;
  height: 70px;
  left: 1193px;
  top: 19px;
  border-radius: 10px;
  background: #FADC9C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Airbnb Cereal App';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

p {
  margin: 0
}

ul, li {
  margin: 0;
  list-style-type: none
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden
}

.table {
  width: 100%;
  display: table;
  margin: 0
}

@media screen and (max-width:768px) {
  .table {
    display: block
  }
}

.row {
  display: table-row;
  background: #fff
}

.row.header {
  color: #fff;
  background: #FADC9C
}

@media screen and (max-width:768px) {
  .row {
    display: block
  }
  .row.header {
    padding: 0;
    height: 0
  }
  .row.header .cell {
    display: none
  }
  .row .cell:before {
    font-family: 'Airbnb Cereal App';
    font-size: 12px;
    color: gray;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset!important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block
  }
}

.cell {
  display: table-cell
}

@media screen and (max-width:768px) {
  .cell {
    display: block
  }
}

.row .cell {
  font-family: 'Airbnb Cereal App';
  font-size: 15px;
  color: #666;
  line-height: 1.2;
  font-weight: unset!important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2
}

.row.header .cell {
  font-family: 'Airbnb Cereal App';
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset!important;
  padding-top: 19px;
  padding-bottom: 19px
}

.row .cell:nth-child(1) {
  width: 80px;
  padding-left: 40px
}

.row .cell:nth-child(2) {
  width: 200px
}

.row .cell:nth-child(3) {
  width: 150px
}

.row .cell:nth-child(4) {
  width: 190px
}

.row .cell:nth-child(5) {
  width: 190px
}

.table, .row {
  width: 100%!important
}

.row:hover {
  background-color: #ececff;
  cursor: pointer
}

@media(max-width:768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0
  }
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px
  }
  .row .cell:nth-child(1) {
    padding-left: 30px
  }
  .row .cell {
    font-family: 'Airbnb Cereal App';
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    font-weight: unset!important
  }
  .table, .row, .cell {
    width: 100%!important
  }
}

.fa {
  background-color: #fff;
}

.fa-edit {
  color: #5cb85c;
}

.fa-trash {
  color: #d9534f;
}

.fa-check-circle {
  color: #5cb85c;
  font-size: 200px;
}