<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <div class="logo-img"></div>
    </a>
  </nav>

  <div class="container">

    <h2 class="text-center mt-4">Edit Product <span class="text-muted">#<%= dataProduct.id %></span></h2>
    <div class="container-table100">
      <form method="POST" action="">
        <div class="form-group">
          <select class="form-control" name="cashier">
            <% for (let i = 0; i < resultCashier.length; i++) { %>
            <option value="<%= resultCashier[i].id %>"
              <%= dataProduct.id_cashier == resultCashier[i].id ? 'selected' : '' %>><%= resultCashier[i].name %>
            </option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="category">
            <% for (let i = 0; i < resultCategory.length; i++) { %>
            <option value="<%= resultCategory[i].id %>"
              <%= dataProduct.id_category == resultCategory[i].id ? 'selected' : '' %>><%= resultCategory[i].name %>
            </option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="product" placeholder="Product" value="<%= dataProduct.name %>">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="price" placeholder="Price" value="<%= dataProduct.price %>">
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>