<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <div class="logo-img"></div>
    </a>
    <form>
      <input class="form-control form-control-nav" type="text" placeholder="Search ...">
      <button type="button" class="btn btn-nav" data-toggle="modal" data-target="#addModal">
        ADD
      </button>
    </form>
  </nav>

  <div class="container">

    <!-- Modal ADD -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">ADD</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <select class="form-control" name="cashier">
                  <option selected disabled>Choose Cashier</option>
                  <% for (let j = 0; j < resultCashier.length; j++) { %>
                  <option value="<%= resultCashier[j].id %>"> <%= resultCashier[j].name %> </option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="category">
                  <option selected disabled>Choose Category</option>
                  <% for (let k = 0; k < resultCategory.length; k++) { %>
                  <option value="<%= resultCategory[k].id %>"> <%= resultCategory[k].name %> </option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="product" placeholder="Product">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="price" placeholder="Price">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table">
          <div class="row header">
            <div class="cell"> No </div>
            <div class="cell"> Cashier </div>
            <div class="cell"> Product </div>
            <div class="cell"> Category </div>
            <div class="cell"> Price </div>
            <div class="cell"> Action </div>
          </div>

          <% for (let i = 0; i < resultAll.length; i++) { %>
          <div class="row">
            <div class="cell" data-title="No"><%= i + 1 %></div>
            <div class="cell" data-title="Cashier"> <%= resultAll[i].cashier %> </div>
            <div class="cell" data-title="Product"> <%= resultAll[i].product %> </div>
            <div class="cell" data-title="Category"> <%= resultAll[i].category %> </div>
            <div class="cell" data-title="Price"> Rp. <%= resultAll[i].price %> </div>
            <div class="cell" data-title="Action">
              <a href="/edit/<%= resultAll[i].id %>" class="btn btn-lg">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete/<%= resultAll[i].id %>" onclick="return confirm('Are you sure you want to delete this item?');"
                class="btn btn-lg">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>